

<div class="formulario">
  <h1>Hazte socio!</h1>
</div>

    <section class="formList">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <label for="name">Nombre:
      <input type="text" formControlName="name" required>
    </label>
      
    <!--<p>
        <button (click)="updateName()">Escriba su nombre</button>
    </p>
      -->
      <label for="email">Email:</label>
      <input type="email" formControlName="email" required>

     <label type="button">Contraseña:</label>
      <input type="password" formControlName="password" required>

     <label type="button">Repita la contraseña:</label>
     <input type="password" formControlName="passwordRepeat" required>
     <div *ngIf="form.get('password')" == 'passwordRepeat'></div>

     <p>
      Sus datos son: {{ form.status }}
    </p>

     <button type="submit" [disabled]="!form.valid">Enviar</button>
   </form> 
  </section>